@mixin btn-color($color, $border-color: $color, $text-color: #fff) {
  background: $color;
  color: $text-color;
  border-color: $border-color;
}

.btn {
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  position: relative;

  span {
    color: inherit;
  }

  &:hover, &:active, &:focus {
    background: #fff;
    outline: none;

  }

  &.btn-block {
    display: block;
    width: 100%;
  }

  &:not([disabled]):hover {
    opacity: .85;
  }

  &:not([disabled]):active {
    opacity: 1;
  }

  &.btn-default {
    @include btn-color(#fff, $default, $text);
    &:not([disabled]):hover {
      @include btn-color(#fff, $primary, $primary);
    }
  }

  &.btn-primary {
    @include btn-color($primary);
  }

  &.btn-info {
    @include btn-color($info);
  }

  &.btn-warn {
    @include btn-color($warn);
  }

  &.btn-success {
    @include btn-color($success);
  }

  &.btn-danger {
    @include btn-color($error);
  }

  &.btn-link {
    @include btn-color(transparent, transparent, $text);
    &:not([disabled]):hover {
      @include btn-color(transparent, transparent, $link);
    }
  }

  &[disabled], &[disabled]:hover, &[disabled]:active, &[disabled]:focus {
    cursor: not-allowed;
    pointer-events: auto;
    box-shadow: none;
    opacity: .6;
  }

  & + .btn{
    margin-left: 5px;
  }

}